<section class="py-5"  id="anchor1">
    <div class="container px-5 my-5 prices">
        <div class="text-center mb-5">
            <h1>Licensing Options</h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 col-xl-3">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Basic</div>
                        <div class="mb-3">
                            <span class="display-5 fw-bold price-for-type">$12</span>
                        </div>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary format"></i>
                                <strong>MP3</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                2.500 sales
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                10.000 streams
                            </li>
                            <li class="mb-2 ">
                                <i class="bi bi-x"></i>
                                Non-exclusive (lease)
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-3">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Premium</div>
                        <div class="mb-3">
                            <span class="display-5 fw-bold price-for-type">$25</span>
                        </div>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary format"></i>
                                <strong>MP3 + WAW</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                5.000 sales
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                50.000 streams
                            </li>
                            <li class="mb-2 ">
                                <i class="bi bi-x"></i>
                                Non-exclusive (lease)
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-lg-6 col-xl-3">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Trackout</div>
                        <div class="mb-3">
                            <span class="display-5 fw-bold price-for-type">$50</span>
                        </div>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary format"></i>
                                <strong>MP3 + WAW </strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                25.000 sales
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                500.000 streams
                            </li>
                            <li class="mb-2 ">
                                <i class="bi bi-x"></i>
                                Non-exclusive (lease)
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-lg-6 col-xl-3">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Exclusive</div>
                        <div class="mb-3">
                            <span class="display-5 fw-bold price-for-type">$150</span>
                        </div>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary format"></i>
                                <strong>All files</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited sales
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited streams
                            </li>
                            <li class="mb-2 ">
                                <i class="bi bi-x"></i>
                                Full ownership
                            </li>

                        </ul>
                    </div>
                </div>
        </div>
    </div>
    </div>
</section>